header {
    background-color:white;
    margin: 0px;
    border: solid #cccccc; 
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    overflow: auto;
}
.your-name {
    background-color: #13a089;
    float:left;
    width: 25%;
    margin-left: 200px;
}
nav {
    float:right;
    width: 25%;
    margin-right:200px;
}
h1 {
    padding: 15px;
    text-align:center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
a {
    border:none;
    background:none;
    border-right: solid #cccccc;
    padding:5px;
    text-align: center;
    width: 25%;
    float:left;
    margin-top:35px;
    color: black;
    text-decoration: none;
}
a:hover {
    border:solid #13a089;
}
a:active {
    border:none;
}
a:focus {
    border:solid #13a089;
}
body {
    background-image: url("new_year_background.png");
}
section{
    background-color: white;
    padding: 25px;
    margin: 50px 200px 100px 200px;
    overflow: auto;
    border: solid #dddddd;
}
footer {
    background: #3f3f3f;
    border-top: solid 8px #13a089;
    height: 30px;
    margin: 0px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
h2 {
    color: #13a089;
    border-bottom: solid #dddddd;
    padding:20px 0px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.pic {
    float:left;
    margin: 25px 25px 10px 0px;
    height: 200px;
    width: 200px; 
}
p {
    font-size: 18px;
    padding: 10px;
    line-height: 150%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 15px;
}
.form {
    margin: 15px 0px;
}
.submit {
    background-color:#13a089;
    border:none;
    margin:0px;
    color: white;
    font-size: 15px;
    width:15%;
}
input {
    margin: 10px 0px;
    padding: 5px;
    width: 99%
}
#message {
    height: 150px;
}
.contact-section {
    margin-bottom:200px;
}
.port-pic {
    position: relative;
    left: 0px;
    float: left;
    margin-top: 50px;
    margin-right: 30px;
    height: 200px;
    width: 300px;
}
.port-btn {
    position: absolute;
    left: 0px;
    bottom: 15px;
    background-color: #13a089;
    width: 100%;
    height: 25%;
    border: none;
}
.copyright {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: lightgray;
    font-size: 10px;
    text-align: center;
    margin-top:5px;
}
@media screen and (max-width: 980px) {
    section {
        padding:25px;
        margin: 15px 50px;
    }
}
@media screen and (max-width: 768px) {
    footer {
        position: static; 
    }
    .your-name, a, h2 {
        text-align: center;
        display: block;
        width: 100%;
        float: none; 
        margin: auto;
        margin-bottom: 20px;
    }
    section {
        padding: 15px;
        margin: auto;
    }
    #message {
        height: 100px;
    }

}

@media screen and (max-width: 640px) {
    footer {
        position: static; 
    }
     .your-name, a, h2 {
        text-align: center;
        display: block;
        width: 100%;
        float: none; 
        margin: auto;
        margin-bottom: 10px;
    }
    section {
        padding: 5px;
        margin: auto;
    }
    #message {
        height: 75px;
    }
    .pic {
        float: none;
        display: block;
        margin-left: 25%;
    }
}
